<% @noticias.each do |noticia| %>

    if($('#<%= noticia.url %>').length == 0){

        $('#noticias').append("<h2 id='<%= noticia.url %>'> <a href='noticias/<%= noticia.url %>'>  <%= noticia.titulo %> </a> </h2>");
    }

<% end %>

$('#pagina').val(parseInt($('#pagina').val()) + 1);