
<div id="noticias">

  <% @noticias.each do |noticia| %>

      <h2 id='<%= noticia.url %>'> <a href="noticias/<%= noticia.url %>">  <%= noticia.titulo %> </a> </h2>

  <% end %>

</div>


<form action="/noticias/carregar_mais" data-remote="true">
  <input type="hidden" name="pagina" id="pagina" value="2">
  <input type="submit" value="<%= t(:carregar_mais) %>" >
</form>