body{
    font-family: arial;
    margin: 0;
}

#topo{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(33, 95, 33);
    color: white;
    font-family: Verdana;
}

#menu-container{
    color: white;
    background-color: rgb(33, 95, 33);
    border-bottom: green 3px solid;
    cursor: pointer;
}

#titulo{
    font-weight: bold;
}

#titulo-container{
    text-align: center;
}

#menu{
    padding-left: 1%;
    width: 10%;
}

#selecione-categoria{
    display: none;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1em;
    background-color: white;
}

#rodape{
    margin-top: 5em;
    text-align: right;
    padding: 1%;
    background-color: rgb(71, 94, 71);
    color: white;
    font-family: Verdana;
}

#rodape a{
    color: rgb(176, 225, 231);
}

.link-topo{
    text-decoration: none;
}

#conteudo{
    margin: 1%;
}

#noticias{
    margin-top: 2em;
}

.noticia{
    padding: 1.5em;
    border-bottom: 1px solid #eee;
    margin-top: 0;
    margin-bottom: 0;
}

.noticia:hover{
    background-color: #eee;
    cursor: pointer;
}

#noticias a{
    text-decoration: none;
}

#noticias h2{
    color: rgb(75, 75, 75);
    font-weight: 300;
}

.botao{
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 1em;
}

.botao:hover{
    cursor: pointer;
}

.botao-pesquisar{
    background-color: #aaa;
}

.botao-pesquisar:hover{
    background-color: #ccc;
}

#carregar-mais{
    background-color: #0F7C0F;
    width: 200px;
}

#carregar-mais:hover{
    background-color: #27BB27;
}

#carregar-mais-container{
   text-align: center;
    margin-top: 3em;
}

#pesquisar-container{
    text-align: center;
    margin-top: 2em;
}

.query{
    width: 50%;
    padding: 0.7em;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

@media screen and (min-width: 481px) {
    #titulo{
        font-size: 5em;
    }
    #menu{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 480px) {
    #titulo{
        font-size: 2em;
    }
    h2{
        font-size: 1em;
    }
    h3{
        font-size: 0.7em;
    }
    .query{
        width: 60%;
    }
    .botao-pesquisar{
        width: 30%;
    }
    #menu{
        font-size: 1.7em;
    }
    #selecione-categoria{
        width: 100%;
    }
}